<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628051008627-doa9f30koe92eed27n40vlaabc2let41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628051008627-doa9f30koe92eed27n40vlaabc2let41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628051008627-evrrdgbf4n3kq5ql40bt4a136jp31d14.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDz2FDEpQRjR9D0xM2dTS28tlr0aJGdHLE</string>
	<key>GCM_SENDER_ID</key>
	<string>628051008627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MapApp</string>
	<key>PROJECT_ID</key>
	<string>mapapp-7faff</string>
	<key>STORAGE_BUCKET</key>
	<string>mapapp-7faff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628051008627:ios:75164495b75c5979b89e06</string>
</dict>
</plist>